button {
            background-color: #eeeeff;
            color: #000000;
            padding: 20px;
            font-size 20px;
            margin: 10px;
            border: 1px solid #eeeeff;
            border-radius: 3px;
            font-size: 20px;
        }